body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .App { */
  /* text-align: center; */
/* } */

span{
  margin-right: 10px;
}

.btn{
  float: right;
  /* display: inline-block; */
  padding: 5px;
  background-color: #f2f2f2;

}

.info{
  padding-left: 20px;
  display: block;
}

button{
  padding: 7px;
  background-color: teal;
  margin-left: 30px;
  border: none;
}