body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



span{
  margin-right: 10px;
}

.btn{
  float: right;
  padding: 5px;
  background-color: #f2f2f2;
  cursor: copy;

}
.btn:hover{
  background-color: black;
  padding: 10px;
  color: wheat;
}
.info{
  padding: 20px;
  display: block;
}

button{
  padding: 10px;
  display: block;
  background-color: teal;
  margin: 0 auto;
  border: none;
}
button:hover{
  cursor: copy;
  background-color: black;
  color: whitesmoke;
}

.comment{
  width: 40%;
  margin: 0 auto;
}

.none{
  display: none;
}

.block{
  display: block;
}